// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Fix oversized pagination arrows
.pagination svg {
  width: 1em !important;
  height: 1em !important;
}

// Center pagination
.pagination {
  justify-content: center;
  display: flex;
  margin-top: 1rem;
}
